body{
	background:url(../img/back.jpg)  no-repeat center center fixed ;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
}

.contain{
	width: 1000px;
	height:800px;
}
.left{
	width: 500px;
	height: 800px;
	float: left;
}
.login-left{
	opacity: 0;
	width:400px;
	height: 0px;
	margin-top: 120px;
}
.right{
	width: 500px;
	height: 800px;
	float: left;
	}
.login-right{
	width:450px;
	height: 250px;
	margin-top: 200px;
	opacity: 1;
}
.login-input-area{
	width: 400px;
}
.login-button{
	height: 100px;
	width: 300px;
	position:relative;
	left: 100px;
	}
.picture{

	height: 250px;
	width: 450px;
	border-radius: 20px;
	overflow:hidden;
	
}
	

		
