body{
	background:url(../img/img5.jpg)  no-repeat center center fixed ;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
}

.contain{
	width: 1000px;
	height:750px;
}
.left{
	width: 500px;
	height: 800px;
	float: left;
}
.login-left{
	opacity: 0;
	width:400px;
	height: 0px;
	margin-top: 120px;
}
.right{
	width: 500px;
	height: 800px;
	float: left;
	}
.login-right{
	width:450px;
	height: 250px;
	margin-top: 200px;
	opacity: 1;
}
.login-input-area{
	padding-top:20px;
	padding-left:120px;
	width: 600px;
}
.login-button{
	height: 100px;
	width: 450px;
	position:relative;
	padding-left:80px;	
	}
.picture{

	height: 250px;
	width: 450px;
	border-radius: 20px;
	overflow:hidden;
	
}
	
html, body, div, p, img, span, a, label, input {
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.bg {
	width: 100%;
	height: 800px;
	position: relative;
	background: url(../img/login_bg.jpg) no-repeat center;
	background-size: 100% 100%;
}

.bg_center {
	text-align: right;
	border: 2px solid #ffffff;
	border-radius: 20px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: -160px;
	margin-left: -348px;
	width: 698px;
	height: 320px;
	background: url(../img/login_centerBg.png);
}

.bg_center p {
	display: inline-block;
	/* margin-right: 122px; */
	margin-top: 32px;
	color: white;
	font: 31.95px/35px "微软雅黑";
}

.input_box {
	margin: 28px 58px 15px 0px;
}

.input_box label {
	text-align: center;
	color: white;
	font: 20px/44px "微软雅黑";
	display: inline-block;
	width: 83px;
	height: 46px;
	background: url(../img/label_bg.png);
}

.input_box input {
	font: 20px/44px "微软雅黑";
	text-indent: 30px;
	border: 1px solid #FFFFFF;
	outline: none;
	width: 290px;
	height: 44px;
	border-radius: 0px 7px 7px 0px;
}

.button_box {
	margin-right: 112px;
	margin-top: 28px;
}

.button_box div {
	float: right;
	width: 89px;
	height: 36px;
	margin-right: 30px;
	color: white;
	font: 17px/36px "微软雅黑";
	text-align: center;
	background: url(../img/button_bg.png);
}

.button_box div:hover {
	cursor: pointer;
}
